.case {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.case img {
    max-width: 33.33%; 
    padding: 10px; 
    box-sizing: border-box; /* Inkludera padding i bredden */
}

.case .text {
    width: 33.33%; 
    padding: 10px; 
    box-sizing: border-box; 
}


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e3163;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border: 2px solid transparent; 
    padding: 5px 10px;
    border-radius: 8px; 
}

/* Ändra färgen på hover */
nav a:hover {
    background-color: #fff;
    color: #1e3163;
    border-color: #1e3163; /* Ändra ramfärgen när man hoverar över länken */
}

.content {
    padding: 20px;
    color: #1e3163;
}

footer {
    background-color: #1e3163;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

form {
    text-align: left;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1e3163;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #1e3163;
    border-color: #1e3163; 
}

/* Min modal Styling */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 0; 
    transition: opacity 0.5s ease; /* Lägg till övergångseffekt på opacity */
    pointer-events: none; /* Förhindra interaktion med dold modal */
}
.modal.show {
    display: block;
    opacity: 1; /* Visa modalen med full opacitet */
    pointer-events: auto; 
}
.modal-content {
    position: relative;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    cursor: pointer;
}

/* Formulär Styling */
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1e3163;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/* Slideshow Styling */
.mySlides {
    display: none;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    position: relative;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.text {
    text-align: left; 
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.case {
    display: flex;
    flex-direction: column; /* Byt riktning till kolumn */
    align-items: center;
    margin-bottom: 20px;
}

.case img {
    max-width: 100%; 
    max-height: 100vh;
    display: block; 
    margin: 0 auto; 
}

.case .text {
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
}


.prev, .next {
    position: fixed;
    top: 50%;
    padding: 10px;
    z-index: 1;
    cursor: pointer; 
    font-size: 24px; /* Justera storleken på pilarna */
    background-color: #1e3163;
    color: #fff;
    border: none;
    border-radius: 50%; /* Runda hörnen för en cirkulär form */
    transition: background-color 0.3s, color 0.3s; /* Lägg till en smidig övergång */
}

.prev {
    left: 20px;
    transform: translateY(-50%);
}

.next {
    right: 20px;
    transform: translateY(-50%);
}

.prev:hover,
.next:hover {
    background-color: #fff; /* Ändra bakgrundsfärg vid hover */
    color: #1e3163; /* Ändra textfärg vid hover */
}




